// Navigation code here
.navigation{
    display: inline-block;
    width: 100%;
    background-color:lightgray;
    text-align: center;
    @media @desktop{
        margin-top: 15px;
        margin-left: 15px;
    }
    h1{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 10px;
    }
    a{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 2rem;
        text-decoration: none;
        color: black;
    }
    .links{
        padding-bottom: 10px;
    }
}