// Navigation code here
.container{//start of container
    border: 2px solid red;
    .intro{//start of intro within container
        border: 2px solid purple;
        .image{//start of image within intro within container
            img{//start of img witin image within intro within container
                border-radius: 20px;
            }//end of img witin image within intro within container
        }//endstart of image within intro within container
    }//end of intro within container
}//end of container

.navigation{
    margin-top: 10px;
    width: 100%;
    border: 2px red solid;
    display: inline-block;
    background-color: lightgrey;
    h1{
        text-align: center;
        border: 2px black solid;
        font-size:4rem;
        margin-bottom: 10px;
    }
    nav{
        width: 100%;
        text-align: center;
        border: 2px black solid;   
        a{
            font-family: 'Ubuntu', sans-serif;
            font-size: 2rem;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
}